<html>
<head>
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th{
  background-color: #f18973;
}
</style>
</head>
<table width="100%;">
<tr>
<th width="100%;">Data Sheet : CONTROLLER</th>
</tr><tr><td>
<table width="100%;">
<tr>
<td >P&ID Reference</td><td>${pid_ref}</td>
<td >Loop No.</td style="text-align:left;">${loop_no}<td></td>
</tr/>
</table>
</td></tr></table>
</html>
